---
title: Perspective
description: The University of Tennessee at Chattanooga is not your average university.
permalink: "perspective/"
data: metadata
language: en
tags: campaign
url: https://discover.utc.edu/perspective
imageurl: https://discover.utc.edu/img/campaigns/perspective/observatory.webp
layout: layouts/starterkit/templatebase.njk
---      

<main class="container mx-auto md:my-14" {% if templateClass %} class="{{ templateClass }}" {% endif %}>
  <div class="main-content inner">
    <div class="utc-rave-alert"></div>
    <section class="section-card boxed love-utc">
    <section class="section-card boxed love-utc">
     <style>
        .card {margin-top:36px;padding-top:48px;}
        @media (max-width:768px) { .card {margin-top:0;padding-top:24px;} }
    </style>
      <div class="card">
        {% include '../perspective/components/topherorowing.njk' %}
        {% include '../perspective/components/quickfacts.njk' %}
      </div>
      {% include '../perspective/components/homeboundcopyrowing.njk' %}
    </section>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </div>
</main>