<div class="quick-facts-wrapper -mb-12">
    <div class="boxed-shadow quick-facts">
        <div
            class="factoid-wrapper odd"
            data-aos="fade-right"
            data-aos-easing="ease-in-out"
            data-aos-duration="1000"
            data-aos-delay="250">
            <div class="factoid">
                <i class="fa-thin fa-users"></i>
                <p style="margin-top:6px;">
                    <span class="factoid-number">11,283</span>
                    <span class="factoid-text">Total<br/> Students</span>
                </p>
            </div>
        </div>
        <div
            class="factoid-wrapper even"
            data-aos="fade-down"
            data-aos-easing="ease-in-out"
            data-aos-duration="1000"
            data-aos-delay="250">
            <div class="factoid">
                <i class="fa-thin fa-envelope-open-dollar"></i>
                <p style="margin-top:6px;">
                    <span class="factoid-number">$9,848</span>
                    <span class="factoid-text">Avg. In-State Tuition Per&nbsp;Year*</span>
                </p>
            </div>
        </div>
        <div
            class="factoid-wrapper odd"
            data-aos="fade-up"
            data-aos-easing="ease-in-out"
            data-aos-duration="1000"
            data-aos-delay="250">
            <div class="factoid">
                <i class="fa-thin fa-hands-usd"></i>
                <p style="margin-top:6px;">
                    <span class="factoid-number">83%</span>
                    <span class="factoid-text">First&#8209;Year Students Recieve Financial Aid/<wbr>
                            Scholarships</span>
                    </p>
                </div>
            </div>
            <div
                class="factoid-wrapper even"
                data-aos="fade-down"
                data-aos-easing="ease-in-out"
                data-aos-duration="1000"
                data-aos-delay="500">
                <div class="factoid">
                    <i class="fa-thin fa-search-dollar"></i>
                    <p>
                        <span class="factoid-number">$16.9M</span>
                        <span class="factoid-text">Scholarships Awarded Last Year</span>
                    </p>
                </div>
            </div>
            <div
                class="factoid-wrapper odd"
                data-aos="fade-left"
                data-aos-easing="ease-in-out"
                data-aos-duration="1000"
                data-aos-delay="750">
                <div class="factoid" style="border-right:none;">
                    <i class="fa-thin fa-users-class"></i>
                    <p>
                        <span class="factoid-number">18:1</span>
                        <span class="factoid-text">Avg. Faculty-to-Student&nbsp;Ratio</span>
                    </p>
                </a>
            </div>
        </div>
    </div>
    <div>
        <p
            class="out-of-state-text"
            data-aos="fade-up"
            data-aos-easing="ease-in-out"
            data-aos-duration="1000"
            data-aos-delay="1250">* Out&#8209;of-state students living in one of Tennessee's border states qualify for an $8,000
            discount.
            <a
                id="out-of-state-discount-link"
                href="https://www.utc.edu/out-of-state"
                class="out-state-link"
                title="Get details">Learn&nbsp;More.</a>
        </p>
    </div>

</div>