<div class="wrap">
    <div id="department-footer">
        <h2 style="margin-bottom:12px;">University of Tennessee at Chattanooga</h2>
        <div>
            <address>
                <a href="https://explore.utc.edu/">615 McCallie Ave, Chattanooga, TN, 37403</a>
                <span class="mobile-hide">&nbsp;&nbsp;|&nbsp;</span>
                <i class="fas fa-phone"></i>&nbsp;<a href="tel:423-425-4111">423&#8209;425&#8209;4111</a>
            </address>
        </div>
    </div>
    <div class="before-footer-menu-map">
        <div class="wrap">
            <h2 class="sr-only">Explore more</h2>
            <section id="custom_html-5" class="widget_text widget widget_custom_html">
                <div class="widget_text widget-wrap">
                    <h3 class="widgettitle widget-title">Footer Menus</h3>
                    <div id="footer-menus" class="textwidget custom-html-widget ">
                        <div id="left-footer-menu" class="footer-menu">
                            <nav role="navigation" aria-labelledby="" class="left-footer-menu">
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a id="students-resources" href="https://www.utc.edu/about/student-resources" data-drupal-link-system-path="node/38451">
                                            Students</a>
                                    </li>
                                    <li class="menu-item">
                                        <a
                                            id="faculty-staff-resources"
                                            href="https://www.utc.edu/about/faculty-and-staff-resources"
                                            data-drupal-link-system-path="node/38411">Faculty and Staff</a>
                                    </li>
                                    <li class="menu-item">
                                        <a id="alumni-friends" href="https://www.utc.edu/about/alumni-and-friends" data-drupal-link-system-path="node/38376">
                                            Alumni and Friends</a>
                                    </li>
                                    <li class="menu-item">
                                        <a
                                            id="parents"
                                            href="https://www.utc.edu/enrollment-management-and-student-affairs/admissions/parents"
                                            data-drupal-link-system-path="node/36067">Parents</a>
                                    </li>
                                    <li class="menu-item">
                                        <a
                                            id="Parking"
                                            href="https://www.utc.edu/finance-and-administration/auxiliary-services/parking-services"
                                            data-drupal-link-system-path="node/1296">Parking</a>
                                    </li>
                                    <li class="menu-item">
                                        <a
                                            id="emergency-preparedness"
                                            href="https://www.utc.edu/about/emergency-preparedness"
                                            data-drupal-link-system-path="node/38406">Emergency Preparedness</a>
                                    </li>
                                    <li class="menu-item">
                                        <a
                                            id="Visit"
                                            href="https://www.utc.edu/enrollment-management-and-student-affairs/admissions/visit"
                                            data-drupal-link-system-path="node/36137">Visit</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div id="center-footer-menu">
                            &nbsp;
                        </div>
                        <div id="right-footer-menu" class="footer-menu">
                            <nav role="navigation" aria-labelledby="" id="" class="right-footer-menu">
                                <ul class="menu">
                                    <li class="menu-item">
                                        <a id="my-mocs-net" href="https://mymocs.utc.edu/">MyMocsNet</a>
                                    </li>
                                    <li class="menu-item">
                                        <a id="o365" href="https://office.com/">O365</a>
                                    </li>
                                    <li class="menu-item">
                                        <a
                                            id="change-password"
                                            href="https://www.utc.edu/information-technology/passwords"
                                            data-drupal-link-system-path="node/1831">Change Password</a>
                                    </li>
                                    <li class="menu-item">
                                        <a id="people-directory" href="https://people.utc.edu/eGuide/servlet/eGuide">People Directory</a>
                                    </li>
                                    <li class="menu-item">
                                        <a id="calenders" href="https://events.utc.edu/MasterCalendar/MasterCalendar.aspx">Calendars</a>
                                    </li>
                                    <li class="menu-item">
                                        <a
                                            id="employment-opportunites"
                                            href="https://www.utc.edu/finance-and-administration/human-resources/work"
                                            data-drupal-link-system-path="node/38406">Employment Opportunities</a>
                                    </li>
                                    <li class="menu-item">
                                        <a id="cas-log-in" href="https://www.utc.edu/caslogin">CAS&nbsp;Log&nbsp;In</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </section>
            <section id="custom_html-4" class="widget_text widget widget_custom_html">
                <div class="widget_text widget-wrap">
                    <h3 class="widgettitle widget-title">Footer Map</h3>
                    <div class="textwidget custom-html-widget sm:h-0">
                        <div id="left-footer-map" class="sm:h-0">
                            &nbsp;
                        </div>
                        <div id="global-footer-map">
                            <div class="inner-map-wrap">
                                <a id="explore-utc-map" href="https://explore.utc.edu/?id=1826#!ct/" title="UTC campus map"><img
                                        class="b-lazy"
                                        src="img/handtinytrans.gif"
                                        alt="UTC campus map"
                                        title="UTC campus map"
                                        height="405"
                                        data-src="/img/utc/utc-footer-map-explore.webp"/>
                                </a>
                            </div>
                            <div class="utc-footer-socials">
                                <a
                                    href="https://www.utc.edu"
                                    target="_self"
                                    aria-label="Back to our departmental homepage"
                                    title="Back to our departmental homepage"
                                    rel="noopener"
                                    id="go-home-link">
                                    <span class="fa fa-home"></span>
                                </a>
                                <a
                                    id="utc-news"
                                    href="https://blog.utc.edu/news/"
                                    target="_self"
                                    aria-label="Get the latest UTC news"
                                    title="Get the latest UTC news"
                                    rel="noopener">
                                    <span class="fa fa-blog"></span>
                                </a>
                                <a
                                    id="utc-linkedin"
                                    href="https://www.linkedin.com/school/27384/"
                                    target="_self"
                                    aria-label="Find us on LinkedIn"
                                    title="Find us on LinkedIn"
                                    rel="noopener">
                                    <span class="fa fa-linkedin"></span>
                                </a>
                                <a
                                    id="utc-youtube"
                                    href="https://www.youtube.com/UTChattanooga"
                                    target="_self"
                                    aria-label="Find us on Youtube"
                                    title="Find us on Youtube"
                                    rel="noopener">
                                    <span class="fa fa-youtube"></span>
                                </a>
                                <a
                                    id="utc-twitter"
                                    href="https://www.twitter.com/UTChattanooga"
                                    target="_self"
                                    aria-label="Find us on Twitter"
                                    title="Find us on Twitter"
                                    rel="noopener">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a
                                    id="utc-instagram"
                                    href="https://www.instagram.com/utchattanooga"
                                    target="_self"
                                    aria-label="Find us on Instagram"
                                    title="Find us on Instagram"
                                    rel="noopener">
                                    <span class="fa fa-instagram"></span>
                                </a>
                                <a
                                    id="utc-facebook"
                                    href="https://www.facebook.com/UTChattanooga"
                                    target="_self"
                                    aria-label="Find us on Facebook"
                                    title="Find us on Facebook"
                                    rel="noopener">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </div>
                        </div>
                        <div id="right-footer-map" class="sm:h-0">
                            &nbsp;
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div class="footer-copyright">
        <h2 class="sr-only">Footer</h2>
        <div class="copyright">
            <div class="block">
                <a href="https://www.utc.edu/about/contact/" id="legal-questions">Questions?</a>
                ©&nbsp;2022
                <a href="https://www.utc.edu" title="UTC homepage">
                    University&nbsp;of&nbsp;Tennessee&nbsp;at&nbsp;Chattanooga</a>. All&nbsp;rights&nbsp;reserved.</div>
            <div class="block">615&nbsp;McCallie&nbsp;Avenue | Chattanooga,&nbsp;TN&nbsp;37403 | (423)&nbsp;425&#8209;4111
            </div>
            <div class="block">
                <a href="https://www.utc.edu/sexual-misconduct/index.php#title-ix-statement" id="legal-title-ix">
                    Title&nbsp;IX&nbsp;Statement</a>
                |
                <a href="https://www.utc.edu/about/privacy.php" id="legal-privacy">Privacy&nbsp;Statement</a>
                |
                <a
                    id="legal-accessibility"
                    href="https://www.utc.edu/academic-affairs/accessible-information-materials-technology-program/">Accessibility</a>
                |
                <a id="web-requests" href="https://www.utc.edu/communications-and-marketing/web/web-help-center">Web&nbsp;Services</a>
            </div>
            <div class="block">A comprehensive, community-engaged campus of&nbsp;the
                <a href="http://www.tennessee.edu/" id="legal-ut">University&nbsp;of&nbsp;Tennessee&nbsp;System</a>
                and partner in the
                <a href="https://www.tntransferpathway.org">Tennessee&nbsp;Transfer&nbsp;Pathway</a>.</div>
        </div>
    </div>
</div>