<!--Section: Copy-->
<section class="section-copy boxed small-enough">
  <h3
    data-aos="fade-right"
    data-aos-easing="ease-in-out"
    data-aos-duration="1000"
    data-aos-delay="500"
    class="white-text"
    style="margin-bottom:12px;">Small enough to feel like
    <span class="gold-text">home.</span><br/> Big enough to span<br/><span class="gold-text">the world.</span>
  </h3>
  <p
    class="large-text"
    data-aos="fade-right"
    data-aos-easing="ease-in-out"
    data-aos-duration="1000"
    data-aos-delay="500"
    style="text-align: center;max-width:90%;margin:12px auto;line-height:150%;">
    <span class="ultra">5</span>&nbsp;colleges
    <span class="gold-text">&bull;</span>
    <span class="ultra">88</span>&nbsp;undergrad programs
    <span class="gold-text">&bull;</span>
    <span class="ultra">52</span>&nbsp;graduate programs
    <span class="gold-text">&bull;</span>
    Average class size&nbsp;of&nbsp;<span class="ultra">18</span>
    <span class="gold-text">&bull;</span>
    Out-of-state students bordering Tennessee receive an
    <span class="ultra">$8K</span>
    discount
    <span class="gold-text">&bull;</span>
    <span class="ultra">$15.1</span>
    million awarded&nbsp;for&nbsp;research</p>
  {# <div
    data-aos="fade-down"
    data-aos-easing="ease-in-out"
    data-aos-duration="1000"
    data-aos-delay="1200"
    class="separator-2"></div> #}
</section>