---
title: Study Hard, Play Hard
description: The University of Tennessee at Chattanooga is not your average university.
permalink: "play-hard/"
data: metadata
language: en
tags: campaign
url: https://discover.utc.edu/play-hard
imageurl: https://discover.utc.edu/img/campaigns/play-hard/mckenzie.webp
layout: layouts/starterkit/templatebase.njk
---      

<main class="container mx-auto my-14" {% if templateClass %} class="{{ templateClass }}" {% endif %}>
  <div class="main-content inner">
    <div class="utc-rave-alert"></div>
    <section class="section-card boxed love-utc">
     <style>
        .card {margin-top:36px;padding-top:48px;}
        @media (max-width:768px) { .card {margin-top:0;padding-top:24px;} }
    </style>
      <div class="card">
        {% include '../play-hard/components/topherorowing.njk' %}
        {% include '../play-hard/components/quickfacts.njk' %}
      </div>
      {% include '../play-hard/components/homeboundcopyrowing.njk' %}
    </section>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </div>
</main>