---
title: Student Life--Rowing
description: The University of Tennessee at Chattanooga is not your average university.
permalink: "outside/studentlife-rowing/"
data: metadata
language: en
tags: campaign
url: https://discover.utc.edu/outside/studentlife-rowing
layout: layouts/starterkit/templatebase.njk
---      

<main class="container mx-auto my-14" {% if templateClass %} class="{{ templateClass }}" {% endif %}>
  <div class="main-content inner">
    <div class="utc-rave-alert"></div>
    <section class="section-card boxed love-utc">
      <div class="card" style="margin-top:48px;">
        {% include '../studentlife-rowing/components/topherorowing.njk' %}
        {% include '../studentlife-rowing/components/quickfacts.njk' %}
      </div>
      {% include '../studentlife-rowing/components/homeboundcopyrowing.njk' %}
    </section>
    {% block content %}
      {{ content | safe }}
    {% endblock %}
  </div>
</main>