<!DOCTYPE html>
<html lang="en">
  {# <title>{{ tito.title }}</title> #}
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }}</title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{ description or metadata.description }}"/>
    {% endif %}
    <meta name="generator" content="{{ eleventy.generator }}">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="generator" content="Eleventy"/>
    <link rel="stylesheet" href="/{{ hash['css/styles.css'] }}"/>
    <script defer src="/{{ hash['js/scripts.js'] }}"></script>
    {# <script defer src="/{{ hash['js/raverss.js'] }}"></script> #}
    {% block head %}{% endblock %}
  </head>
  <body
    class="antialiased">
    {# <div class="container" id="container"> #}
    <div>
      <header
        class="header" itemscope="" itemtype="https://schema.org/WPHeader">
        {# <h1 class="home"><a href="{{ '/' | url }}">{{ metadata.title }}</a></h1> #}
        {% include 'layouts/header.njk' %}
      </header>
      {# inner #}
      <main class="container mx-auto my-14" {% if templateClass %} class="{{ templateClass }}" {% endif %}>
        <div class="main-content inner">
          <div class="utc-rave-alert"></div>
          <section class="section-card boxed love-utc">
            <div class="card">
              {% include 'layouts/tophero.njk' %}
              {% include 'layouts/quickfacts.njk' %}
            </div>
            {% include 'layouts/homeboundcopy.njk' %}
          </section>
          {% block content %}
            {{ content | safe }}
          {% endblock %}
        </div>
      </main>
      <footer>
        {% include 'layouts/footer.njk' %}
      </footer>
    </div>
    <script src="https://kit.fontawesome.com/6cef20ef42.js" crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.min.js"
      integrity="sha512-Yrd3VqXNBUzyCQWVBlL65mTdE1snypc9E3XnGJba0zJmxweyJAqDNp6XSARxxAO6hWdwMpKQOIGE5uvGdG0+Yw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"></script>

          <!--Initialize Blazy-->
    <script>
        ;
        (function() {
            // Initialize
            var bLazy = new Blazy();
        })();
    </script>
  </body>
</html>