* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

 :root {
    --blue: #112e51;
    --ltblue: #e7eaee;
    --dkblue: #081524;
    --gold: #fdb736;
    --dkgold: #725218;
    --ltgray: #a0aec0;
    --ghostwhite: rgba (255, 255, 255, .3);
    --links: #166484;
    --bodycopy: #0f2949;
    --pagebg: #f9f9f9
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    position: relative
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh
}

main {
    flex: 1 0 auto
}

header,
footer {
    flex-shrink: 0
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0
}

.visually-hidden {
    display: none
}

b,
strong {
    font-weight: 700
}

em,
i {
    font-style: italic
}

 ::selection {
    background: var(--ltblue)
}

.header {
    background: #fff;
    top: 0;
    width: 100%;
    z-index: 9999;
    box-shadow: 1px 3px 5px -1px #bbb
}

.header>.wrap {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    margin-right: 0
}

.header-first-row {
    background: #e7eaee;
    display: flex;
    align-content: center;
    padding: 0 12px;
    z-index: 1000;
}

.title-area {
    float: left;
    background: transparent;
    max-width: 30%;
    padding: 6px 0;
    margin-right: auto
}

.title-area svg {
    max-width: 300px;
    max-height: 48px
}

.custom-logo-link {
    border: 0
}

.custom-logo-link svg {
    display: block;
    max-height: 80px;
    width: auto
}

.nav-secondary {
    height: 100%
}

.nav-secondary ul {
    min-height: 65px;
    display: flex;
    justify-content: end;
    min-width: 150px
}

.nav-secondary li {
    list-style: none
}

.nav-secondary a {
    text-decoration: none
}

.hamburger,
.search-icon-menu-item {
    display: flex;
    align-items: center;
    cursor: pointer
}

.hamburger {
    display: none
}

.hamburger .svg-inline--fa {
    height: 1.8rem;
    transition: all .4s ease-in-out;
    transform-origin: center center
}

.hamburger.active .svg-inline--fa {
    transform: scale(1.5)
}

.search-icon-menu-item a {
    background: transparent;
    margin-top: -3px;
    margin-bottom: 0;
    color: var(--blue);
    transform: scale(1);
    transition: all .5s ease-in-out;
    transform-origin: center center
}

.search-icon-menu-item a:hover {
    transform: scale(1.5)
}

.nav-secondary .svg-inline--fa {
    display: inline-block;
    height: 1.75em;
    overflow: visible;
    color: #112e51
}

.nav-primary .svg-inline--fa {
    height: 1em;
    padding-left: 12px
}

.nav-secondary a:hover .svg-inline--fa {
    color: var(--gold)
}

@keyframes dropIn {
    from {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-100px)
    }
    to {
        opacity: 1;
        visibility: visible;
        transform: translateY(0)
    }
}

.menu-item.ribbon-container {
    z-index: 1
}

.ribbon-wrapper {
    width: 60px;
    position: relative;
    animation-delay: 1s;
    animation: dropIn 1s linear forwards
}

.ribbon {
    position: absolute;
    right: 12px;
    top: 0;
    filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, .5))
}

.ribbon>.ribbon-content {
    text-align: center;
    background: var(--blue);
    width: 4rem;
    height: 5.5rem;
    transition: all .5s ease-in-out
}

.ribbon>.ribbon-content {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%, 0 100%);
    transition: all .5s ease-in-out
}

.ribbon.down>.ribbon-content {
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 16px), 50% 100%, 0 calc(100% - 16px))
}

.ribbon.up>.ribbon-content {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% calc(100% - 16px), 0 100%)
}

li.ribbon-container {
    padding: 0
}

.apply-now-ribbon {
    text-align: center;
    padding: 0;
    font-size: 1.25rem;
    color: #fff;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    position: relative;
    display: inline-block;
    margin: 9px auto 36px;
    line-height: 1.5rem;
    transition: all .5s ease-in-out
}

.menu-item.ribbon-container:hover .apply-now-ribbon {
    text-align: center;
    color: var(--gold)
}

.nav-primary {
    width: 100%;
    height: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
    z-index: 99
}

.navbar {
    height: 100%;
    max-width: 1250px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px
}

.nav-primary .nav-links {
    line-height: 48px;
    height: 100%
}

.nav-primary .menu {
    display: flex;
    justify-content: flex-end;
    width: 98%
}

.nav-primary .menu li {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    float: none;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px
}

.nav-primary .menu li a {
    height: fit-content;
    text-decoration: none;
    white-space: nowrap;
    display: block;
    color: var(--blue);
    text-decoration: none;
    transition: all .4s ease-in-out;
    font-size: .95rem;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    border-right: 1px solid rgba(0, 0, 0, .2);
    cursor: pointer;
    line-height: 1rem;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0
}

.nav-primary .menu li:last-child a {
    border-right: 0
}

.nav-primary .menu>li>a:after {
    content: "";
    background: rgba(253, 183, 54, .7);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
    box-shadow: 0 0 1px 1px rgb(253 183 54 / 70%);
    margin-top: .25rem;
    display: block;
    height: 0
}

.nav-primary .menu>li.iam-submenu .arrow {
    right: 12px
}

.nav-primary .menu>li:hover>a:after {
    transform: scaleX(1)
}

.nav-primary .menu li .arrow {
    height: 100%;
    width: 7px;
    text-align: center;
    display: inline;
    color: #112e51;
    transition: all 0.3s ease;
    position: absolute;
    right: 3px;
    top: 0;
    bottom: 0
}

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}

.nav-primary .menu li .sub-menu {
    position: absolute;
    top: 50px;
    right: 0;
    background: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    border-radius: 0 0 4px 4px;
    display: none;
    z-index: 2;
    color: #112e51;
    animation: growDown 300ms ease-in-out forwards;
    transform-origin: top center
}

.nav-primary li.menu-item.menu-item-has-children:hover .sub-menu {
    display: block
}

.nav-primary .menu li .sub-menu li {
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    width: 160px
}

.nav-primary .menu li .sub-menu a {
    color: #112e51;
    border: 0;
    width: 100%;
    transition: all .4s ease-in-out;
    padding: .75rem;
    font-size: .875rem;
    line-height: 1.25rem;
    margin: 0;
    border: 0
}

.nav-primary .menu li .sub-menu a:hover {
    background-color: var(--ltblue)
}

.nav-primary .menu li .sub-menu .more-arrow {
    line-height: 40px
}

.nav-primary .menu li .sub-menu .more-sub-menu {
    position: absolute;
    top: 0;
    left: 100%;
    border-radius: 0 4px 4px 4px;
    z-index: 1;
    display: none
}

.menu li .sub-menu .more:hover .more-sub-menu {
    display: block
}

.nav-primary .nav-links .hamburger {
    display: none
}

.nav-primary .fa-bars {
    display: none
}

/*@media(max-width:1024px) {
    .nav-primary .menu {
        width: 90%
    }
}*/

@media(max-width:991px) {
    #container {
        overflow-x: hidden
    }
    .title-area {max-width: 100%;}
    .header-first-row {
        z-index: 100;
        box-shadow: 0 0 4px 4px rgb(0 0 0 / 30%);
        padding: 0 24px 0 12px
    }
    .nav-secondary ul {
        min-width: 48px
    }
    .hamburger {
        display: flex
    }
    .nav-primary {
        display: block;
        position: absolute;
        right: -100%;
        top: 66px;
        gap: 0;
        width: 50%;
        transition: .3s;
        z-index: 1;
        box-shadow: 3px 3px 3px 3px rgb(0 0 0 / 20%);
        height: fit-content;
        font-family: "Roboto Slab", sans-serif;
        font-weight: 3400
    }
    .nav-primary .menu {
        width: 100%
    }
    .nav-primary .menu li {
        padding: 0;
        white-space: nowrap;
        border-bottom: 1px solid var(--ltblue);
        display: flex;
        align-items: flex-start;
        flex-direction: column
    }
    .show1 li.menu-item.menu-item-has-children.iam-menu-item,
    .show2 li.menu-item.menu-item-has-children.ql-menu-item {
        background: var(--ltblue);
        padding-bottom: 12px
    }
    .nav-primary .menu>li>a:after {
        display: none
    }
    .nav-primary .menu li:last-child {
        border-bottom: 0
    }
    .nav-primary .menu li a {
        position: relative;
        padding: .75rem;
        font-size: .875rem;
        line-height: 1.25rem;
        margin: 0;
        border: 0;
        width: 100%
    }
    .nav-primary .menu li .arrow {
        right: 12px;
        transform: rotate(-90deg);
        transition: all .4s ease
    }
    .nav-primary .fa-bars {
        display: block
    }
    .nav-primary .nav-links {
        display: block;
        width: 100%;
        background: #fff;
        line-height: 40px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
        transition: all 0.5s ease;
        z-index: 1000
    }
    .nav-primary.open {
        right: 0
    }
    .nav-primary .nav-links .hamburger {
        display: flex;
        align-items: center;
        justify-content: space-between
    }
    .hamburger i,
    .nav-primary .fa-bars {
        font-size: 25px;
        color: #fff
    }
    .nav-primary .menu {
        display: block
    }
    .nav-primary .menu li .arrow {
        line-height: 40px
    }
    .nav-primary .svg-inline--fa {
        padding-left: 0;
        position: absolute;
        right: 12px;
        transform: rotate(-90deg)
    }
    /*.nav-primary .menu li.iam-submenu,
    .nav-primary .menu li.ql-submenu {
        padding-top: 0
    }
    .nav-primary .menu li .sub-menu li {
        width: 100%
    }
    .nav-primary .menu li .sub-menu li:last-child {
        border-bottom: none
    }
    .nav-primary .menu li:hover .iam-sub-menu,
    .nav-primary .menu li:hover .ql-sub-menu {
        display: none
    }
    .nav-primary .nav-links.show1 .menu .iam-sub-menu,
    .nav-primary .nav-links.show2 .menu .ql-sub-menu {
        display: block;
        width: 95%;
        margin-left: auto
    }
    .nav-primary .nav-links.show1 .menu .iam-arrow,
    .nav-primary .nav-links.show2 .menu .ql-arrow {
        transform: rotate(0deg);
        transition: all .4s ease-in-out;
    }
    .nav-primary .menu li:hover .iam-sub-menu,
    .nav-primary .menu li:hover .ql-sub-menu,
    ul.menu .menu-item:hover>.sub-menu {
        display: none!important
    }
    .nav-primary .nav-links.show1 .menu .ql-submenu,
    .nav-primary .nav-links.show2 .menu .iam-submenu {
        display: none
    }
    .nav-primary .nav-links.show1 .menu .iam-submenu,
    .nav-primary .nav-links.show2 .menu .ql-submenu {
        display: block!important;
        width: 95%;
        margin-left: auto;
        position: relative;
        top: 0
    }
    .nav-primary .nav-links.show1 .menu .iam-arrow,
    .nav-primary .nav-links.show2 .menu .ql-arrow {
        transform: rotate(0deg);
        transform-origin: top center
    }*/
}

@media(max-width:460px) {
    .title-area {
        overflow: hidden
    }
    .title-area svg {
        max-width: 280px
    }
    .nav-primary {
        width: 100%
    }
}

@media (max-width:370px) {
    .nav-primary .nav-links {
        max-width: 100%
    }
}


