  #department-footer {
      padding: 60px
  }
  
  #department-footer h2 {
      text-align: center;
      font-weight: 600;
      letter-spacing: -.02rem;
      font-size: 2.5rem;
      font-family: "Oswald", sans-serif
  }
  
  #department-footer a {
      font-family: "Roboto", sans-serif;
      font-size: 1.2rem;
      color: rgba(22, 100, 132, 1);
      font-weight: 400;
      background: transparent;
      padding: 3px;
      transition: all .4s ease-in-out;
      text-decoration: none
  }
  
  #department-footer a:hover {
      font-weight: 400;
      background: #fff
  }
  
  #department-footer {
      background: var(--ltblue);
      text-align: center;
      padding: 48px
  }
  
  #department-footer h2 {
      margin-top: 12px
  }
  
  address {
      display: inline-block;
      font-style: normal;
      font-size: 1rem;
      margin-top: 12px
  }
  
  address a:hover {
      font-weight: 300
  }
  
  svg.svg-inline--fa.fa-phone {
      height: 1em
  }
  
  #social-footer ul {
      display: flex;
      width: fit-content;
      margin: 0 auto
  }
  
  #social-footer li {
      list-style: none;
      padding: 12px;
      margin-top: 12px
  }
  
  #social-footer a {
      color: var(--blue)
  }
  
  #social-footer a:hover {
      color: var(--gold)
  }
  
  .before-footer-menu-map {
      background: var(--blue);
      bottom: 0;
      padding-bottom: 44px;
      text-align: left;
      position: relative;
      height: fit-content;
      min-height: 82px
  }
  
  .before-footer-menu-map .wrap {
      padding-top: 32px
  }
  
  .before-footer-menu-map .wrap:before {
      display: none
  }
  
  .before-footer-menu-map .widget {
      padding: 0 16px;
      margin-bottom: 0
  }
  
  .before-footer-menu-map li.menu-item {
      padding: 6px 0;
      cursor: pointer
  }
  
  .before-footer-menu-map a {
      color: #fff;
      font-size: 1.125rem;
      cursor: pointer;
      transition: all .4s ease-in-out
  }
  
  .before-footer-menu-map li.menu-item:hover a {
      text-decoration: none;
      color: var(--gold)
  }
  
  .before-footer-menu-map p {
      font-size: 1.125rem
  }
  
  .before-footer-menu-map .icon {
      font-size: 1.5rem;
      position: relative
  }
  
  #custom_html-5,
  #custom_html-4 {
      display: block
  }
  
  #custom_html-5 {
      z-index: 5;
      font-size: 1.25rem
  }
  
  #custom_html-5 .textwidget,
  #custom_html-4 .textwidget {
      display: grid;
      grid-template-columns: 1fr 37% 1fr;
      grid-column-gap: 18px;
  }
  
  #custom_html-5 .widget-title,
  #custom_html-4 .widget-title {
      display: none
  }
  
  #left-footer-menu,
  #global-footer-map,
  #right-footer-menu {
      z-index: 100000000
  }
  
  #left-footer-menu {
      float: left;
      border-right: 1px solid var(--gold);
      padding-right: 40px;
      padding-top: 3px;
      text-align: right
  }
  
  #right-footer-menu {
      float: right;
      border-left: 1px solid var(--gold);
      padding-left: 40px;
      padding-top: 3px
  }
  
  #left-footer-menu ul.menu>li,
  #right-footer-menu ul.menu>li {
      margin: 0;
      border: 0;
      list-style: none
  }
  
  #left-footer-menu ul.menu>li a,
  #right-footer-menu ul.menu>li a {
      font-weight: 400;
      font-size: 1.1rem;
      line-height: 1.5rem;
      color: var(--ltblue);
      text-decoration: none;
      margin: 0;
      padding: 0;
      border: 0;
      transition: all .4s ease-in-out;
      text-align: left;
      font-family: "Roboto Slab", sans-serif
  }
  
  #left-footer-menu ul.menu>li a {
      text-align: right
  }
  
  #left-footer-menu ul.menu>li a:hover,
  #right-footer-menu ul.menu>li a:hover {
      color: var(--gold)
  }
  
  #left-footer-menu ul.menu>li a:after,
  #right-footer-menu ul.menu>li a:after {
      display: none
  }
  
  .footer-menu {
      width: 100%
  }
  
  #custom_html-4 {
      width: 100%;
      position: absolute;
      top: 32px
  }
  
  .inner-map-wrap {
      max-height: 225px;
      padding: 0 16px;
      overflow: hidden
  }
  
  #global-footer-map a {
      text-align: center;
      margin: 0 auto
  }
  
  #global-footer-map a:hover {
      color: var(--gold)
  }
  
  #global-footer-map img {
      width: 100%
  }
  
  .utc-footer-socials {
      display: grid;
      grid-template-columns: repeat(7, minmax(0, 1fr));
      text-align: center;
      margin-top: 6px
  }
  
  .utc-footer-socials .svg-inline--fa {
      color: #fff;
      height: 1rem;
      transition: all .4s ease-in-out
  }
  
  .utc-footer-socials .svg-inline--fa:hover {
      color: #fdb736
  }
  
  .footer-copyright {
      background-color: var(--dkblue);
      padding: 24px;
      text-align: center;
      line-height: 2rem;
      color: #fff;
      font-size: 1rem;
      font-family: "Roboto", sans-serif;
      font-weight: 400
  }
  
  .footer-copyright a {
      text-decoration: none;
      color: var(--gold);
      font-family: "Roboto", sans-serif;
      font-weight: 400
  }
  
  .footer-copyright a:hover {
      color: #fff
  }
  
  .mobile-hide {
      display: inline
  }
  
  @media only screen and (max-width:991px) {
      .logins {
          width: 100%;
          min-width: 250px
      }
      .button-wrapper {
          display: grid
      }
      #custom_html-4 .svg-inline--fa {
          height: 1rem
      }
      #department-footer h2 {
          line-height: 120%;
          font-size: 1.85rem
      }
      #global-footer-map img {
          width: 100%;
          height: auto
      }
      .footer-copyright .block {
          line-height: 1.25rem;
          margin-top: 18px;
          margin-bottom: 18px
      }
  }
  
  @media only screen and (max-width:640px) {
      .inner {
          margin: 24px auto 60px
      }
      .mobile-hide {
          display: none
      }
      .mobile-block {
          display: block
      }
      #department-footer {
          padding-left: 24px;
          padding-right: 24px
      }
      .footer-copyright {
          text-align: center;
          padding: 24px;
          line-height: 2rem
      }
      #custom_html-5 .textwidget {
          grid-template-columns: 1fr 0 1fr;
          grid-column-gap: 0
      }
      .footer-menu {
          width: 100%
      }
      #custom_html-4 {
          width: 100%;
          position: relative;
          padding-bottom: 36px
      }
      #custom_html-4 .textwidget {
          grid-template-columns: 0 1fr 0;
          ;
          grid-column-gap: 0
      }
  }