<!--Section: Copy-->
<section class="section-copy small-enough">
  <h3
    data-aos="fade-right"
    data-aos-easing="ease-in-out"
    data-aos-duration="1000"
    data-aos-delay="500"
    class="white-text"
    style="margin-bottom:12px;">
    <span class="gold-text">It's not you.</span><br/> It's me.<br/><span class="gold-text">Content </span><br/> not <br/><span class="gold-text"> found.</span>
  </h3>
</section>