<div class="left-right-container">
    <div class="left">
        <div class="thumbnail" data-aos="fade-right" data-aos-duration="5000" data-aos-delay="500"><img
                class="b-lazy"
                src="img/handtinytrans.gif"
                width="991"
                height="704"
                class="left"
                data-src="/img/utc/moc-student.webp"
                alt="moc student"/>
        </div>
    </div>
    <div class="right">
        <h2 class="text-7xl" data-aos="fade-down" data-aos-duration="2000" data-aos-delay="500">We Know You're Going to Love It
            Here!</h2>
        <div class="separator-1" data-aos="fade-right" data-aos-duration="2000" data-aos-delay="500"></div>
        <p data-aos="fade-left" data-aos-duration="2000" data-aos-delay="500">There’s going to college, and then there’s going
            to college in Chattanooga. Outstanding academics, friendly atmosphere, gorgeous campus, and a whole lot more. Everything
            you want is waiting for you at UTC.</p>
        <div data-aos="fade-up" data-aos-duration="1000" data-aos-delay="500" style="margin-top:12px;">
            <a
                id="request-info-button"
                class="btn diagonal"
                href="https://apply.utc.edu/inquiry-undergraduate"
                title="Request Info">Request Info</a>
            {# <h2>{{metadata.title}}</h2> #}
        </div>
    </div>
</div>