    <!--Section: Copy-->
    <section class="section-copy boxed small-enough">
      <p class="large-text" data-aos="fade-right" data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="500" style="text-align: center;max-width:90%;margin:12px auto;line-height:150%;"> <span class="text-utc-new-gold-500 font-normal">5</span>&nbsp;colleges <span class="gold-text">&bull;</span> <span class="text-utc-new-gold-500 font-normal">98</span>&nbsp;undergrad programs <span class="gold-text">&bull;</span> <span class="text-utc-new-gold-500 font-normal">55</span>&nbsp;graduate programs <span class="gold-text">&bull;</span> Average class size&nbsp;of&nbsp;<span class="text-utc-new-gold-500 font-normal">18</span> <span class="gold-text">&bull;</span> Students from states bordering Tennessee receive an <span class="text-utc-new-gold-500 font-normal">$8K</span> discount <span class="gold-text">&bull;</span> <span class="text-utc-new-gold-500 font-normal">$15.1</span> million awarded&nbsp;for&nbsp;research</p>
      <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="250" class="md:hidden mt-8">
            <a
                id="request-info-button"
                class="btn diagonal mx-auto"
                href="https://engagecms-100972.campusnexus.cloud/inquiry-explore-utc"
                title="Request Info">Request Info</a>
        </div>
      {# <div data-aos="fade-down" data-aos-easing="ease-in-out" data-aos-duration="1000" data-aos-delay="1200" class="separator-2"></div> #}
    </section>