---
title: YATAS
description: Yet Another Tailwind Alpine Starter Project for 11ty!
permalink: "outside/"
layout: layouts/base.njk

---


 {# <div class="wrap">
    <h1 itemprop="headline">The UTC website is currently unavailable.</h1>
    <div class="content-sidebar-wrap">
      <div class="content" >
      <article aria-label="The UTC Website is Unavailable" itemscope="" itemtype="https://schema.org/CreativeWork">
      <div class="entry-content" itemprop="text">
        <h2>From the Communications and Marketing Department</br>
          at the University of Tennessee at Chattanooga</h2>
        <p class="network-notification">The UTC website is currently unavailable, but other network connections are operational.</br/>Please <a href="https://blog.utc.edu/itstatus/" title="IT Status page">go to the IT Status page</a> for the latest updates.</p>
        <p style="margin-bottom:12px;text-align: center">Use these logins to access your online UTC accounts:</p>
        <div class="button-wrapper">
          <div><a class="btn btn-primary logins" href="https://portal.microsoftonline.com/" title="O365 login">O365</a></div>
          <div><a class="btn btn-primary logins" href="https://webauth.utc.edu/cas/login?service=https%3A%2F%2Futchattanooga.instructure.com%2Flogin%2Fcas" title="Canvas login">Canvas</a></div>
          <div><a class="btn btn-primary logins" href="https://mymocs.utc.edu/" title="MyMocsNet login">MyMocsNet</a></div>
          <div><a class="btn btn-primary logins" href="https://irisweb.tennessee.edu/irj/portal" title="Iris">IRIS</a></div>
			<div><a class="btn btn-primary logins" href="https://blog.utc.edu/itstatus/" title="Iris">IT Status</a></div>
        </div>
        <hr />
        <h2>Additional UTC Contacts:</h2>
        <p>For application, registration, financial aid and general inquires, please call &nbsp;<i class="fas fa-phone"></i>&nbsp;&nbsp;<a href="tel:423-425-4662">423-425-4662</a>.</p>
        <p>For Help Desk assistance, please call &nbsp;<i class="fas fa-phone"></i>&nbsp;&nbsp;<a href="tel:423-425-4662">423-425-4000</a>, email us  at &nbsp;<i class="fas fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:ithelp@utc.edu">ithelp@utc.edu</a> or open a ticket (if available) &nbsp;<i class="fas fa-hands-helping"></i>&nbsp;&nbsp;<a href="https://ithelp.utc.edu/">IT Help Desk Ticket</a>.</p>
        <p><em>NOTE: 
          Please be patient as we are experiencing a large number of calls at this time. We will do our best to answer your calls as quickly as possible, but if you are unable to reach someone, please keep trying.</em></p>
        </article>
        </div>
      </div> #}
    </div>